[run]
source = tests
omit = 
    */migrations/*
    */tests/*
    */settings/*
    */manage.py
    */wsgi.py
    */asgi.py
    */admin.py
    */apps.py
    */urls.py
    */__init__.py
    */venv/*
    */.tox/*
    */.virtualenvs/*

[report]
show_missing = True
skip_covered = False
skip_empty = True

[html]
directory = tests/reports/coverage